/* 스크린이고 최대너비가 768인 경우에 {}안의 스타일 적용됨  */
@media screen and (max-width:768px){ 
  body{
    max-width: 480px;
    overflow: hidden;
  }
  header div.wrap nav{
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  display: grid;
  max-width: 441px;
  }
  header div nav h1{
    margin: 0px;
  }
  header div.wrap nav h1 a{
  width: 45px;
  height: 60px;
  }
  header div.wrap nav .gnb{
  display: none;
  }
  header div nav .rgnb{
    display: none;
  }
  header div nav span{    
  display: flex;
  }
  .wrap{
    padding: 0 20px;
  }
  .h1{
  font-size: calc(48px * 0.6);
  }
  header div.wrap nav>a{    
  font-size: 0px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #454545;
  border-bottom: 2px solid #454545;
  display: flex;
  align-items: center;
  }
  header div.wrap nav > a span{
  border-top: 2px solid #454545;
  display: block;
  width: 100%;
  }
  
  /*반응형 off-sff-screen-menu 적용*/
  .off-screen-menu {
    display: block;
  }
  .burgeroption{
    
  }
  .burgeroption li:hover{
  width: 100%;
  border-bottom: 1px solid black;
  }
  
/*타이틀*/
  #title{
    width: 100%;
    height: 100vh;    
  }
  #title::before{
    content:"";
    background-position: center;
    opacity: 0.5;
    width: 100%;
    max-width: 480px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  #title div.wrap{
    padding: 40px;
    width: 100vw;
    align-self: center;
  }
  #title div.wrap p.two{
  font-size: 30px !important;
  }
  #title .wrap .intro {
    height: 750px; 
    width: 100%;
  }
  #title::after{
    top: 44vh;
  }
  #title .wrap .introAni{
    font-size: 20px;
  }
  #title .wrap .self{
    width:100vw;
    padding-top: 14px;
  }
  #title .wrap .intro span{
    padding-left: 0;
  }
  #title .wrap .intro span a{
    width: 117px;
    height: 20px;
  }
  
 /*About Me*/
  #aboutme{
    width: 100%;
    height: 100vh;
  }
  #aboutme .grid{
    width: 100%;
    display: flex;
    flex-direction: column
  }
  #aboutme .wrap h2{
    font-size: 23px;
    opacity: 0.7;
    padding-bottom: 12px;
  }
  #aboutme .wrap .myphotoAni{
    width: 150px;
    height: 170px;
    overflow: visible !important;
  }
  #aboutme .wrap .myphotoAni img{
  border-radius: 50% !important;
  }
  /*Project*/
  #projects{
    width: 100%;
    height: 100%;
  }
  #contact{
    
  }
  /*하단*/
  
  footer{
    height: 20vw;
  }
  footer div.wrap{

  }
  footer .top{
  top: -100px;
  }
  footer div h1{
    grid-column: 1;
    grid-row: 1;
  }
  footer div sns{
    grid-column: 2;
    grid-row: 1;
  }
  footer div .fnb {
    grid-column: 1;
    grid-row: 2;
    column-gap: 1vw;
  }
  footer div p{
    grid-column: 1;
    grid-row: 3;
  }
  
}


@media screen and (max-width:1200px){ 
  
  
}